[submodule "B]_PL-SQL (Oracle)/Oracle Notes/2]_Traner_notes/assignments/6. Project/Online-Bookstore-Management-System"]
	path = B]_PL-SQL (Oracle)/Oracle Notes/2]_Traner_notes/assignments/6. Project/Online-Bookstore-Management-System
	url = https://github.com/Ayon-SSP/Online-Bookstore-Management-System
