[submodule "B]_PL-SQL (Oracle)/PROJECT/Online-Bookstore-Management-System"]
	path = B]_PL-SQL (Oracle)/PROJECT/Online-Bookstore-Management-System
	url = https://github.com/Ayon-SSP/Online-Bookstore-Management-System/
